/* styles.css */

/* Reset CSS */
body, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

ul#authors {
    list-style: none;
    margin-top: 20px;
}

li {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 5px;
}

span {
    color: #666;
}
